body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 10px 10px;
}

.row {
  display: block;
  max-width: 430px;
  padding: 8px 2px;
  background-color: rgba(236, 236, 235, 0.76);
  border: 0.8px solid rgba(0, 0, 0, 0.301);
}

.btn {
  position: absolute;
  left: 350px;
}

.line {
  text-decoration: line-through;
  color: rgb(224, 2, 21);
}
